#k1{
    height:100px;
    width:100px;
    background-color: brown;
    animation-name: random;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 5;
}
@keyframes random {
    from{background-color:brown} to {background-color:rgb(225, 192, 255)};
}

#k2{
    height:100px;
    width:100px;
    background-color: burlywood;
    position: absolute;
    top:200px;
    animation: random2 2s  linear 0s  infinite normal;
}
@keyframes random2{
    /* from{background-color:burlywood;} to {background-color: blue}; */
    from {
        left:0px;
        background-color: burlywood;
    } 
    to {
        left:300px;
        background-color: blue;
    };
}

#k3{
    height:100px;
    width:100px;
    position:absolute;
    top:400px;
    left:100px;
    border: 10px solid yellowgreen;
    border-radius: 50%;
    border-top: 10px solid pink;
    animation: hii 2s ease-in-out 0s infinite normal ;
}
@keyframes hii {
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}




#k4{
    height:100px;
    width:100px;
    background-color: blanchedalmond;
    position:absolute;
    top:700px;
    left:10px;
    animation: abc 3s ease-in 1s infinite
}
@keyframes abc {
    from{
        left:10px;
    }
    to{
        left:1200px;
    }
}

#k5{
    height:100px;
    width:100px;
    background-color:darkgrey;
    border-radius: 50%;
    position:absolute;
    top:900px;
    left:10px;
    animation: abcd 8s linear 1s infinite normal;
}
@keyframes abcd {
    0%{
        top:1100px;
        left:10px;;
    }
    25%{
        top:850px;
        left:1400px;;
    }

    50%{
        top:850px;
        left:10px;
    }

    75%{
        top:1100px;
        left:1200px;
    }
    100%{
        top:1100px;
        left:10px;
    }
}

#k6{
    height:100px;
    width:100px;
    background-color:chartreuse;
    position:absolute;
    top:1300px;
    right:10px;
    animation: abcde 3s ease-in 1s infinite;
}
@keyframes abcde {
    from{
        right:10px;
    }
    to{
        right:1200px;
    }
}