#k1{
    height:200px;
    width:200px;
    background-color: blue;
    border-radius: 100px;
    position:absolute;
    top:30px;
    left:50px;
    background-image: url("https://i.pinimg.com/474x/19/dd/55/19dd55bb23a7aa3c5e912a7b01ae8558.jpg");
    background-size: cover;
    
}
#k2{
    height:200px;
    width:200px;
    background-color: blue;
    border-radius: 100px;
    position:absolute;
    top:300px;
    left:50px;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/026/525/162/small_2x/lion-animal-isolated-photo.jpg");
    background-size: cover;
}
#k3{
    height:200px;
    width:200px;
    background-color: blue;
    border-radius: 5100px;
    position:absolute;
    top:600px;
    left:50px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/African_Bush_Elephant.jpg/250px-African_Bush_Elephant.jpg");
    background-size: cover;
}