#k1{
    height:100px;
    width:100px;
    background-color:chartreuse;
    transition: all;
    transition: 4s ease-in 1s;
    /* transition-duration:, transition-timing-function: ,transition-delay:  */
}

#k1:hover{
    height:200px;
    background-color: blue;
}
#k1:active{
    background-color: rgb(195, 36, 36);
    width:300px;
}


#k2{
    height:100px;
    width:100px;
    background-color:orange;
    transition: all 3s linear 5s;
}
#k2:hover{
    background-color: red;
}